*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica neue, sans-serif;
}

/* ?? DEBUG ?? */
.debug{
    border: 1px solid red;
    min-height: 200px;
}

/* HEADER */

/* NAV */
#navigator .col-12{
    background-color: #2c3e50;
    min-height: 100px;
}

/* JUMBO */
header #jumbo{
    background-color: #1abc9c;
    color: #ffffff;
    min-height: 400px;
}

#jumbo img{
    display: inline-block;
}

/* MAIN SECTION */

/* Cards */
#card img{
    max-width: 100%;
    border-radius: 10px;
}

/* BACKGROUND AND COLOR */
main > :nth-child(2){
    background-color: #1abc9c;
    color: #ffffff;
}

/* Paragraph */
.row p{
    text-align: left;
}

/* Button */
#download{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 20px;
}
