

/* BUTTON */
.btn button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 7px 10px;
}

/* HR BARS */
.hr-wht{
    height: 3px;
    background-color: #ffffff;
}

.hr-blk{
    height: 3px;
    background-color: black;
}

/* HEADER SECTION */



/* Nav bar */
.contain{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    color: #ffffff;
    /* flex */
    display: flex;
    justify-content: space-between;
}

.contain > :first-child{
    width: 30%;
    height: 100%;
    font-size: 22px;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contain > :nth-child(2){
    width: 30%;
    height: 100%;
    font-size: 16px;
    gap: 10px;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Jumbotron    first settings */

/* #jumbo{
    padding: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
} */

#jumbo div img{
    width: 200px;
}

#jumbo h2{
    font-size: 40px;    
}

/* #jumbo .row{
    color: #ffffff;
    width: 250px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.col-5 hr{
    font-size: 20px;
}


/* MAIN SECTION    first settings to fix*/
/* main > :first-child{
    padding: 30px;
}

main :first-child .col-12{
    min-height: 500px;
   
    display: flex;
    align-items: center;
    flex-direction: column;

} */

main :nth-child(2) .col-12{
    background-color: #1abc9c;
    min-height: 300px;
}

main :nth-child(3) .col-12{
    min-height: 350px;
}

/* PORTFOLIO */
/* main .col-12 .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 220px;
} */

/* grill part */
#grill{
    max-width: 1000px;
    /* flex */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    /* DEBUG */
}

#grill div{

    /* DEBUG */
    width: 250px;
    
}

#grill div img{
    width: 100%;
    border-radius: 20px;
}

/* About section */
#about{
    color: #ffffff;
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about >:nth-child(3){
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about >:nth-child(3) div{
    width: 30%;
}




